@{
    ViewBag.Title = "Điều khoản sử dụng Website";
}

<h2>Điều khoản sử dụng Website</h2>
<p>Việc sử dụng website của chúng tôi đồng nghĩa với việc bạn đã đồng ý với các điều khoản và điều kiện về việc mua sắm, bảo mật, cũng như các quyền lợi và nghĩa vụ giữa người mua và người bán. Đọc kỹ các điều khoản để đảm bảo trải nghiệm mua sắm an toàn và hài lòng.</p>
